//- Analytics tracking
- var ga = theme.ga
if ga
    script
        | (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create',
        != '"' + ga + '"'
        | ,'auto');ga('send','pageview');

if page.path.endsWith("search/index.html")
    link(href="/js/tipuesearch/tipuesearch.css" rel="stylesheet")
    script(src="/js/jquery-2.2.4.min.js")
    script(src="/js/tipuesearch/tipuesearch_set.js")
    script(src="/js/tipuesearch/tipuesearch.js")
    script(src="/js/tipuesearch/index.js")